*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

html {
/* font-size: 62.5%; */

}

body{
    font-family:'poppins', sans-serif;

}

header{
    height: 100vh;
    background-image:linear-gradient(rgba(3,4,7,0.48),rgba(5,10,30,0.48)),url('https://github.com/KodeGo-Bootcamp/HTML-Activity-Images/blob/main/pexels-royal-anwar-450214.jpg?raw=true');
    background-size: cover;
    background-position: center;
    position: relative;
}

.header-brand{
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-size:45px;
}

.header-brand__span{
    color: greenyellow;
}

nav{
    background-color: orangered;
    display: flex;
    justify-content: space-between;
    padding: 3% 7%;
}

nav ul li{
    display: inline-block;
    margin:10px 20px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.header-text{
    /* background-color: orangered; */
    position: absolute; 
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    color: #fff;

}

.header-text h1{
    font-size: 70px;
}

.about {
    background-color: #242323;
    height: 80vh;
}

.about-text{
    /* background-color: orangered; */
    color: white;
    margin:auto;
    text-align: center;
    width: 50%;
}

.about-text h2{
    font-size: 60px;
    /* background-color: green; */
    padding-top: 6rem;
}

.about-text p {
    /* background-color: blue; */
    padding-top: 2rem;
    line-height: 1.8rem;
    text-align: center;
}

.about-skills{
    /* background-color: orangered; */
    width: 50%;
    color: white;
    padding-top: 3%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.about-skills h3{
    padding-right: 5%;
}

.about-skills__h3--1{
    border-bottom: 3px solid #20E700;
    width: 5%;
    margin-right:50px;

}